html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: rgb(222,186,122);
  background: radial-gradient(circle, rgba(222,186,122,1) 27%, rgba(222,170,80,1) 77%);
}
footer{
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer h3{
  font-weight: 300;
}
footer a{
  font-weight: 500;
}

h1,h2,h3,h4,p{
  padding:0px;
  margin:0px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
